<div class="sidenav-wrapper">
    <a routerLink="/home" class="home-link">
      <i class="fa fa-home"></i>
      <span>首页</span>
    </a>
      <div class="menu-level-1">
        <i class="fa fa-user"></i>
        <span>用户</span>
      </div>
      <div class="menu-items">
        <a routerLink="/home" class="menu-link">
          <i class="fa fa-home"></i>
          <span>用户列表</span>
        </a>
        <a routerLink="/home" class="menu-link">
          <i class="fa fa-music"></i>
          <span>未激活</span>
        </a>
        <a routerLink="/home" class="menu-link">
          <i class="fa fa-school"></i>
          <span>VIP用户</span>
        </a>
      </div>
  <div class="menu-level-1">
    <i class="fa fa-adjust"></i>
    <span>系统</span>
  </div>
  <div class="menu-items">
    <a routerLink="/home" class="menu-link">
      <i class="fa fa-home"></i>
      <span>系统日志</span>
    </a>
    <a routerLink="/home" class="menu-link">
      <i class="fa fa-music"></i>
      <span>设置</span>
    </a>
    <a routerLink="/home" class="menu-link">
      <i class="fa fa-school"></i>
      <span>管理员</span>
    </a>
  </div>
  <div class="menu-items">
    <a routerLink="/home" class="menu-link">
      <i class="fa fa-home"></i>
      <span>系统日志</span>
    </a>
    <a routerLink="/home" class="menu-link">
      <i class="fa fa-music"></i>
      <span>设置</span>
    </a>
    <a routerLink="/home" class="menu-link">
      <i class="fa fa-school"></i>
      <span>管理员</span>
    </a>
  </div>
  <div class="menu-items">
    <a routerLink="/home" class="menu-link">
      <i class="fa fa-home"></i>
      <span>系统日志</span>
    </a>
    <a routerLink="/home" class="menu-link">
      <i class="fa fa-music"></i>
      <span>设置</span>
    </a>
    <a routerLink="/home" class="menu-link">
      <i class="fa fa-school"></i>
      <span>管理员</span>
    </a>
  </div>
  <div class="menu-items">
    <a routerLink="/home" class="menu-link">
      <i class="fa fa-home"></i>
      <span>系统日志</span>
    </a>
    <a routerLink="/home" class="menu-link">
      <i class="fa fa-music"></i>
      <span>设置</span>
    </a>
    <a routerLink="/home" class="menu-link">
      <i class="fa fa-school"></i>
      <span>管理员</span>
    </a>
  </div>
</div>
