@import "../../../variables";

.dashboard-container {
  background-color: $page-background-color;
  height: 100vh;

  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: $header-height;
    line-height: $header-height;
    color: #fff;
    background-color: $color1;
    padding: 0 1rem;
  }

  .sidenav-container {
    position: fixed;
    left: 0;
    top: $header-height;
    bottom: 0;
    width: $sidenav-width;
    //height: calc(100vh - #{$header-height});
    background-color: $color2;
    color: #fff;
  }

  .main-container {
    margin-left: $sidenav-width;
    margin-top: $header-height;
    padding: 1rem;
    overflow: auto;
  }
}
