<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h3>Editable</h3>
  <p-dropdown [options]="cars" [(ngModel)]="selectedCar1" [style]="{'width':'150px'}" editable="true" placeholder="Select a Brand"></p-dropdown>
  <p>Selected Car: {{selectedCar1 || 'none'}}</p>
</div>

<div style="margin-top: 3rem;">
  <h3>Content with Filters</h3>
  <p-dropdown [options]="cars" [(ngModel)]="selectedCar2" [style]="{'width':'150px'}" filter="true">
    <ng-template let-item pTemplate="selectedItem">
      <!--<img src="assets/showcase/images/demo/car/{{item.label}}.png" style="width:16px;vertical-align:middle" />-->
      <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
    </ng-template>
    <ng-template let-car pTemplate="item">
      <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
        <!--<img src="assets/showcase/images/demo/car/{{car.label}}.png" style="width:24px;position:absolute;top:1px;left:5px"/>-->
        <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
      </div>
    </ng-template>
  </p-dropdown>
  <p>Selected Car: {{selectedCar2||'none'}}</p>
</div>

<div style="margin-top: 3rem">
  <img src="../assets/images/hello.jpg" alt="image" width="500">
</div>

<router-outlet></router-outlet>
