$header-height: 4rem;
$sidenav-width: 16rem;

$page-background-color: #eee;

$color1: #1a4863;
$color1-800: #225f82;
$color2: #068587;
$color2-800: #086568;
$color3: #4FB99F;
$color4: #F2B134;
$color5: #ED553B;

$toggle-sidenav: 500ms ease-out;

